// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

$primary-color: lightblue;
$btn-color: #32E6E2;
$bd-violet:black;
$dark-rgb: 6 11 16;

:root{
    --colorRgbFacetsNeutralDark900: 6 11 16;
}

.tw-dark{
    --colorBgApp: var(--colorRgbFacetsNeutralDark900);
}

@media  screen and (min-device-width: 350px) and (max-device-width: 1920px){
    
    
    body {
    
        background-color: rgb($dark-rgb);
    }
    
    .page-title{
        padding-top: 2em;
        margin-top: -1rem;
        text-align: center;
        color:white;
    }
    
    
     
    .btn-primary-color{
        background: $btn-color;
        color: black;
    
    }
    
   .a{
    color: white;
   }

}

